.NavMainFlex{
  position: fixed;
  width: 100%;
  z-index: 99;
}

.ChackraNavBar{
  position: fixed;
  width: 100%;
  z-index: 99;
}

.cardImg{
  display: inline-block;
  position: relative;
}

.cardImg .imgTop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.cardImg:hover .imgTop{
  display: inline;
  cursor: pointer;
  z-index: inherit;
}

.refClick {
  cursor: pointer;
  font-weight: 600;
}

.DayNightButton{
  cursor: pointer;
}

  /* Scroll Bar */
  ::-webkit-scrollbar {
    width: 16px;
    height: 0px;
    border: 1px solid red;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    width: 50px;
  }
  ::-webkit-scrollbar-thumb {
    background: #474d48;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #44a749;
  }